# ==============================================
# MTK Policy Rule
# ============

# GAT ls /data/aee_exp/db.xxxx
allow shell aee_exp_data_file:dir r_dir_perms;
allow shell aee_exp_data_file:file r_file_perms;

# Date : WK17.46
# Operation : Migration
# Purpose: Allow shell to read KE DB
allow shell aee_dumpsys_data_file:file r_file_perms;

# ==============================================
# MICROTRUST Policy Rule
# ==============================================

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust init_thh service
userdebug_or_eng(`
  allow shell init_thh_service_exec:file rx_file_perms;
  allow shell init_thh_service_exec:dir r_dir_perms;
  allow shell init_thh_service_exec:file {execute execute_no_trans};
  allow shell hal_thh_hwservice:hwservice_manager find;
#  allow shell hal_thh_default:binder call;
')

# Purpose: Allow shell to read trustkernel log
allow shell tkcore_data_file:dir search;
allow shell tkcore_log_file:file { open read getattr };
