type mtk_hal_neuralnetworks, domain;
hal_server_domain(mtk_hal_neuralnetworks, hal_neuralnetworks)
type mtk_hal_neuralnetworks_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(mtk_hal_neuralnetworks)
allow mtk_hal_neuralnetworks ion_device:chr_file { read open ioctl};
allow mtk_hal_neuralnetworks debugfs_ion:dir search;
allow mtk_hal_neuralnetworks vpu_device:chr_file { read open ioctl};
allow mtk_hal_neuralnetworks gpu_device:chr_file { read open ioctl write getattr};
allow mtk_hal_neuralnetworks untrusted_app_25:binder { call transfer };
allow mtk_hal_neuralnetworks untrusted_app:binder { call transfer };
allow mtk_hal_neuralnetworks shell_data_file:file read;
allow mtk_hal_neuralnetworks vendor_configs_file:file r_file_perms;
allow mtk_hal_neuralnetworks vendor_configs_file:dir r_dir_perms;
allow mtk_hal_neuralnetworks property_socket:sock_file write;
allow mtk_hal_neuralnetworks init:unix_stream_socket connectto;
allow mtk_hal_neuralnetworks sdcardfs:file read;
allow mtk_hal_neuralnetworks untrusted_app_25:fd use;
allow mtk_hal_neuralnetworks untrusted_app:fd use;
allow mtk_hal_neuralnetworks sysfs_lowmemorykiller:dir search;
allow mtk_hal_neuralnetworks sysfs_lowmemorykiller:file { read getattr open };
allow mtk_hal_neuralnetworks proc_zoneinfo:file { read getattr open };
allow mtk_hal_neuralnetworks apk_data_file:file read;
