# ==============================================
# Policy File of /system/bin/capturepackets Executable File


# ==============================================
# Type Declaration
# ==============================================

type capturepackets, domain;

# ==============================================
# MTK Policy Rule
# ==============================================
