
on property:ro.persistent_properties.ready=true && property:persist.vendor.migrate_legacy_props=needed
    #setprop new.property.name ${old.property.name}
    setprop persist.vendor.log.tel_dbg ${persist.log.tag.tel_dbg}
    setprop persist.vendor.radio.data.iccid ${persist.radio.data.iccid}
    setprop persist.vendor.radio.mobile.data ${persist.radio.mobile.data}
    setprop persist.vendor.radio.smart.data.switch ${persist.radio.smart.data.switch}
    setprop persist.vendor.radio.wm_selectmode ${persist.radio.wm_selectmode}
    setprop persist.vendor.radio.wm_fddtimer ${persist.radio.wm_fddtimer}
    setprop persist.vendor.mtk.wfc.enable ${persist.mtk.wfc.enable}
    setprop persist.vendor.mtk_ims_support ${persist.mtk_ims_support}
    setprop persist.vendor.mtk_volte_support ${persist.mtk_volte_support}
    setprop persist.vendor.ims.simulate ${persist.ims.simulate}
    setprop persist.vendor.radio.smsformat.test ${persist.radio.smsformat.test}
    setprop persist.vendor.mtk.ims.video.enable ${persist.mtk.ims.video.enable}
    setprop persist.vendor.mtk.vilte.enable ${persist.mtk.vilte.enable}
    setprop persist.vendor.mtk.viwifi.enable ${persist.mtk.viwifi.enable}
    setprop persist.vendor.mtk.volte.enable ${persist.mtk.volte.enable}
    setprop persist.vendor.mtk_dynamic_ims_switch ${persist.mtk_dynamic_ims_switch}
    setprop persist.vendor.dbg.volte_avail_ovr ${persist.dbg.volte_avail_ovr}
    setprop persist.vendor.vilte_support ${persist.mtk_vilte_support}
    setprop persist.vendor.viwifi_support ${persist.mtk_viwifi_support
    setprop persist.vendor.mtk.ims.video.enable ${persist.mtk.ims.video.enable}
    setprop persist.vendor.rilvt.log_enable ${persist.vendor.vt.log_enable}
    setprop persist.vendor.vt.rotate_delay ${persist.mtk_vilte_rotate_delay}
    setprop persist.vendor.vt.data_simulate ${persist.ims.data.simulate}
    setprop persist.vendor.mtk_ct_volte_support ${persist.mtk_ct_volte_support}
    setprop persist.vendor.audiohal.hifi_dac_state ${persist.af.hifi_dac_state}
    setprop persist.vendor.radio.simswitch ${persist.radio.simswitch}
    setprop persist.vendor.radio.disable_c2k_cap ${persist.radio.disable_c2k_cap}
    setprop persist.vendor.radio.simswitch.emmode ${persist.radio.simswitch.emmode}
    setprop persist.vendor.radio.c_capability_slot ${persist.radio.c_capability_slot}
    setprop persist.vendor.mtk_sim_switch_policy ${persist.mtk_sim_switch_policy}
    setprop persist.vendor.radio.simswitchstate ${persist.radio.simswitchstate}
    setprop persist.vendor.radio.unlock ${persist.radio.unlock}
    setprop persist.vendor.radio.unlock.roaming ${persist.radio.unlock.roaming}
    setprop persist.vendor.radio.wait.imsi ${persist.radio.wait.imsi}
    setprop persist.vendor.radio.waitimsi.roaming ${persist.radio.waitimsi.roaming}
    setprop persist.vendor.data.cc33.support ${persist.data.cc33.support}
    setprop persist.vendor.radio.ls1icid ${persist.radio.lastsim1_iccid}
    setprop persist.vendor.radio.ls2icid ${persist.radio.lastsim2_iccid}
    setprop persist.vendor.radio.volte_state ${persist.radio.volte_state}
    setprop persist.vendor.radio.default.data.selected ${persist.radio.default.data.selected}
    setprop persist.vendor.operator.optr ${persist.operator.optr}
    setprop persist.vendor.operator.spec ${persist.operator.spec}
    setprop persist.vendor.operator.seg ${persist.operator.seg}
    setprop persist.vendor.operator.subid ${persist.operator.subid}
    setprop persist.vendor.mtk_usp_md_sbp_code ${persist.mtk_usp_md_sbp_code}

    # This should be always the last line! Don't add anything after this line.
    setprop persist.vendor.migrate_legacy_props done
